.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.bg-primary {
    background-color: #5cbfba !important;
}
.left-register {
  padding: 1em 2em;
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-register {
  width: 700px;
  height: 800px;
  background: #ffffff;
}

.btn-color {
  background-color: #5cbfba;
}

.icon-face {
  color: #3b5998;
}
.icon-google {
  color: #4285f4;
}
