/************************ START STYLES ************************/
/* DEBUG
* { outline: solid 1px red; }
*/

/*********** General Styles Start ***********/
@import "variables";
body {
  font-family: "Nunito", Helvetica, sans-serif !important;
  color: $text !important;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}


a {
  text-decoration: none;
}

/* Fallback */
h1 {
  font-weight: 600;
  font-size: 1.8rem;
}

h2 {
  font-weight: 500;
  font-size: 1.6rem;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: 1.4rem;
}

main {
  margin: 6rem auto 3rem auto;
  width: 100%;
}

.accordion .accordion-body {
  background: $light;
}

.icon-circle {
  border-radius: 50%;
  box-shadow: 0 0 1px #fff;
  background-color: #fff;
  color: $text;
  border: 1px solid $primary;
  padding: 12px 16px;
  &:hover {
    background: $primary;
    border: 1px solid #fff;
    color: #fff;
  }
}  

/* Debug Wrapper IMG - "Order History" and "Orders received" */
@media only screen and (max-width: 767px) {
  .ordersReceived .wrapperImg,
  .offeredFood .wrapperImg,
  .orderedFood .wrapperImg {
    width: 100% !important;
    height: 100% !important;
    & img {
      border-radius: 10px !important;
      height: 100%;
      width: 100%;
      object-fit: cover;
      }
  }
}


/* Here starts the codes for header */
.navbar {
  & .search button:hover {
    background: #fff;
    color: $primary!important;
  }
  & .icon-circle {
    border-radius: 50%;
    box-shadow: 0 0 1px #fff;
    background-color: #fff;
    color: $text;
    border: 1px solid $primary;
    padding: 12px 16px;
    &:hover {
      background: $primary;
      border: 1px solid #fff;
      color: #fff;
    }
  }
  .wrapperImg {
    position: relative;
    width: 50px;
    height: 50px;
    & img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border: 1px solid $primary;
      &:hover {
        border: 1px solid #fff;
      }
    } 
    & i {
    position: absolute;
    top: 12px;
    left: 16px;
    color: $text;
    font-size: 1.2rem;  
    }
  }
}

/* Here ends the code for header */

/* Login Section Start */

/* Login Section End */

/* Home Section Start */
.specialOffer {
  padding: 1rem;
  & img {
    max-width: 200px;
  }
  &:nth-child(1) {
    background: #f3f4ff;
    & .discount {
      color: $green !important;
    }
  }
  &:nth-child(2) {
    background: #fef2ec;
    & .discount {
      color: $orange !important;
    }
  }
  & .discount {
    font-size: 3rem;
  }
}

.catCard {
  background: $light;
  border: 1px solid #fff;
  color: $primary;
  cursor: pointer;
  &:hover {
    background: $dark;
    border: 1px solid $primary;
  }
  & img {
    max-height: 25px;
  }
}

.album {
  & .card {
    border-radius: 10px !important;
    &:hover > img {
      transform: scale(1.2);
    }
    &.soldout {
      pointer-events: none;
      overflow: hidden;
      &::before {
        content: "soldout";
        display: block;
        
        top: 2em;
        left: -4em;
        color: #fff;
        display: block;
        position: absolute;
        text-align: center;
        text-decoration: none;
        letter-spacing: .06em;
        background-color: #A00;
        padding: 0.5em 5em 0.4em 5em;
        text-shadow: 0 0 0.75em #444;
        box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
        font: bold 16px/1.2em Arial, Sans-Serif;
        -webkit-text-shadow: 0 0 0.75em #444;
        -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
        -webkit-transform: rotate(-45deg) scale(0.75,1);
        z-index:10;
      }
      & .overlay::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.3);
        z-index: 2;
        border-radius: 10px
      }
      & .foodQuantity {
        display: none;
      }
    }
    & .foodQuantity {
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px 10px;
      background: $primary;
      border-radius: 8px 0px 8px 0px;
      font-size: 0.8rem;
      color:  #fff;
    }
    & .featured {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 10px;
      background: $primary;
      border-radius: 0 8px 0 8px;
      font-size: 0.8rem;
      color:  #fff;
    }
    & .wrapperImg {
      height: 200px;
      & img {
        border-radius: 10px 10px 0 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    & .foodTitle {
      font-weight: 800;
    }
    .price::after {
      content: ("€");
    }
    & .tag {
      background: $light;
      padding: 0.3rem 1rem;
      border-radius: 10px;
    }
  } 
}
/* Home Section End */


/* Single Post Start */
.singlePost {
  .wrapperImgCreator {
  width: 200px;
  height: 200px;
    & img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
/* Single Post End */

/* Offer History Start */
.offeredFood {
  background: $light;
  border-radius: 10px;
  border: 1px solid $primary;
  color: $text;
  & a:first-child {
    min-width: 0;
    flex-basis: 20%;
    & .foodTitle {
      font-weight: 800;
      font-size: 1.2rem;
      color: $text;

      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      position: relative;
      top: 10px;
      left: 10px;
    }
  }
  & .wrapperImg {
  width: 50px;
  height: 50px;
    & img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
/* Offer History End */

/* Order History Start */
.orderedFood {
  background: $light;
  border-radius: 10px;
  border: 1px solid $primary;
  color: $text;
  & .p-2:first-child {
    min-width: 0;
    flex-basis: 20%;
    & .foodTitle {
      font-weight: 800;
      font-size: 1.2rem;
      color: $text;

      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      position: relative;
      top: 10px;
      left: 10px;
    }
  }
  & .wrapperImg {
  width: 50px;
  height: 50px;
    & img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
/* Order History End */

/* Orders Received Start */
.ordersReceived {
  background: $light;
  border-radius: 10px;
  border: 1px solid $primary;
  color: $text;
  & .p-2:first-child {
    min-width: 0;
    flex-basis: 20%;
    & .foodTitle {
      font-weight: 800;
      font-size: 1.2rem;
      color: $text;

      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      position: relative;
      top: 10px;
      left: 10px;
    }
    & .wrapperImg {
    width: 50px;
    height: 50px;
      & img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
/* Order Received End */

/* Rate Creator Start */
.rateCreator {
  & .creatorName {
    font-weight: 800;
  }
  & .react-stars {
    margin: 0 auto;
  }
} 
/* Rate Creator End */

/* My Account Start */
.dashboardLinks {
  text-decoration: none;
}

.dashboardOptions {
  background: $light;
  border-radius: 10px;
  border: 1px solid $primary;
  color: $text;
  &:hover {
    background: $dark;
  }
  & .btn {
    pointer-events: none;
  }
  & .tagline {
    font-weight: 800;
    font-size: 1.2rem;
    color: $text;
  }
  & .subline {
    font-weight: 600;
    font-size: 1rem;
    color: $text;
  }
}
/* My Account End */

/* Order Food Start */
.orderFood {
  margin-top: -2rem;
  & .bg-image {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
 & .card {
   margin-top: -100px;
   background: hsla(0, 0%, 100%, 0.8);
   backdrop-filter: blur(30px);
   & .selectQuantity {
     background: $light;
     border-radius: 10px;
   }
   &:hover {
     // transform: scale(0.2);
   }
 }
}
/* Order Food End */

/* Here ends the code starts for Register Form */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: $light;
}

.left-register {
  padding: 1em 2em;
  border-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-register {
  width: 700px;
  height: 800px;
  background: #fff;
}

.btn-color {
  background-color: $primary;
}

.icon-face {
  color: #3b5998;
}

.icon-google {
  color: #4285f4;
}

.register .wrapperImg {
  width: 50px;
  height: 50px;
    & img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
}
/* Here ends the code for Register */

/* Here start the code for Create_Post */
.createPost {

  .react-timerange-picker__wrapper {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .react-timerange-picker__inputGroup {
    min-width: 0;
  }

  .imagePreview {
    width: 200px;
  } 
  & .require {
    color: #666;
  } & label small {
    color: #999;
    font-weight: normal; 
  }
}
/* Here ends the code for Create_Post */

/* Here starts the codes for footer */
footer {
  margin-top: auto;
}
/* Here end the codes for footer */

.carousel .carousel-item {
  height: 500px !important;
}

.carousel-item .carousle-img{
  position: absolute;
    object-fit: cover !important;
    object-position: center !important;
    top: 0 !important;
    left: 0 !important;
    height: 50vh !important;
    min-height: 500px !important;
}
