/************************ START STYLES ************************/
/* DEBUG
* { outline: solid 1px red; }
*/

/*********** General Styles Start ***********/
@import "variables";

body {
  font-family: "Nunito", Helvetica, sans-serif !important;
  color: $textColor !important;
}

/* Fallback */
h1 {
  font-weight: 600;
}

h2 {
  font-weight: 500;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.mainContainer {
  margin: 8rem auto 3rem auto;
}

/* Here starts the codes for header */
.main-nav {
  // background-color: var(--green) !important;
  color: #fff;
  line-height: 80px;
  height: 80px;
  padding-top: 0;
}

.icon-circle {
  // display: inline-block;
  border-radius: 20px;
  box-shadow: 0 0 1px #fff;
  background-color: #fff;
  color: #000;
  padding: 1em 1em;
  // margin: 5px;
}
.icon-circle-img{
  border-radius: 20px;

}
.searchbar{
  max-width: 250px;
  min-width: 200px;
}
/* Here ends the code for header */

/* Login Section Start */
.login {
  margin-right: -30px;
  padding-right: 25px !important ;
}
/* Login Section End */

/* Home Section Start */
.specialOffer {
  padding: 1rem;
  & img {
    max-width: 200px;
  }
  &:nth-child(1) {
    background: #f3f4ff;
    & .discount {
      color: $green !important;
    }
  }
  &:nth-child(2) {
    background: #fef2ec;
    & .discount {
      color: $orange !important;
    }
  }
  & .discount {
    font-size: 3rem;
  }
}

.catCard {
  background: $lightGrey;
  border: 1px solid #fff;
  color: $primary;
  &:hover {
    background: #ccc;
    border: 1px solid $primary;
  }
}

.album {
  & .card {
    border-radius: 10px !important;
    & .featured {
      position: absolute;
      top:0;
      right: 0;
      padding: 5px 10px;
      background: $primary;
      border-radius: 0 10px 0 10px;
      font-size: 0.8rem;
      color:  #fff;
    }
    & .wrapperImg {
      height: 200px;
      & img {
        border-radius: 10px 10px 0 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    & .foodTitle {
      font-weight: 800;
    }
    .price::after {
      content: ("€");
    }
    & .tag {
      background: $lightGrey;
      padding: 0.3rem 1rem;
      border-radius: 10px;
    }
  }
}
/* Home Section End */


/* Single Post Start */
.singlePost {
  .wrapperImgCreator {
  width: 200px;
  height: 200px;
    & img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
/* Single Post End */

/* Order History Start */
.orderedFood {
  background: $lightGrey;
  border-radius: 10px;
  border: 1px solid $primary;
  color: $grey;
  & .foodTitle {
    font-weight: 800;
    font-size: 1.2rem;
    color: $textColor;
  }
  & .wrapperImg {
  width: 50px;
  height: 50px;
    & img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  & .bi-star:hover::before {
    content: ("\F586");
    font-family: "bootstrap-icons";
    color: $orange;
  }
}
/* Order History End */

/* Orders Received Start */
.ordersReceived {
  background: $lightGrey;
  border-radius: 10px;
  border: 1px solid $primary;
  color: $grey;
  & .foodTitle {
    font-weight: 800;
    font-size: 1.2rem;
    color: $textColor;
  }
  & .wrapperImg {
  width: 50px;
  height: 50px;
    & img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
/* Order Received End */

/* My Account Start */
.dashboardLinks {
  text-decoration: none;
}

.dashboardOptions {
  background: $lightGrey;
  border-radius: 10px;
  border: 1px solid $primary;
  color: $grey;
  &:hover {
    background: $darkGrey;
  }
  & .btn {
    pointer-events: none;
  }
  & .tagline {
    font-weight: 800;
    font-size: 1.2rem;
    color: $textColor;
  }
  & .subline {
    font-weight: 600;
    font-size: 1rem;
    color: $textColor;
  }
}
/* My Account End */

/* Order Food Start */
.orderFood {
  & .bg-image {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
 & .card {
   margin-top: -100px;
   background: hsla(0, 0%, 100%, 0.8);
   backdrop-filter: blur(30px);
   & .selectQuantity {
     background: $lightGrey;
     border-radius: 10px;
   }
   &:hover {
     // transform: scale(0.2);
   }
 }
}
/* Order Food End */

/* Here ends the code starts for Register Form */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: $lightGrey;
}

.left-register {
  padding: 1em 2em;
  border-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-register {
  width: 700px;
  height: 800px;
  background: #fff;
}

.btn-color {
  background-color: $primary;
}

.icon-face {
  color: #3b5998;
}

.icon-google {
  color: #4285f4;
}
/* Here ends the code for Register */

/* Here start the code for Create_Post */
.require {
  color: #666;
}

label small {
  color: #999;
  font-weight: normal;
}
/* Here ends the code for Create_Post */
